<ion-header
  [translucent]="true"
  class="todo"
  style="background-color: #fff8e6"
  no-border
>
  <ion-toolbar>
    <ion-label class="top">
      <a [routerLink]="['/home']" class="botonT">
        <ion-icon name="arrow-undo" class="iconos"></ion-icon>
      </a>
      <p class="titulo">K-Plant</p>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="todo">
  <ion-card class="cardStyle">
    <h3 class="ion-text-center">Techo</h3>
    <ion-item lines="none">
      <ion-label>Modo Manual</ion-label>
      <ion-toggle slot="end" [checked]="this.firebaseService.Modo" class="switch" (ionChange)="cambioM()" [(ngModel)]="estado"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="width: 100">Ajuste automatico en: </ion-label>
      <p style="margin-right: 0.5rem">{{this.firebaseService.TempTch}}º</p>
      <ion-button id="open-modal" expand="block" style="--background: #85bb6e" [disabled]="editar"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar class="todoT">
              <ion-buttons slot="start" style="--color: #9f7a33;">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()">Confirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
              <ion-item class="custom">
                <ion-label position="stacked">Temperatura de ajuste</ion-label>
                <ion-input type="number" [(ngModel)]="temp"></ion-input>
              </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-card>
  <ion-card class="cardStyle">
    <h3 class="ion-text-center">Posición</h3>
    <ion-range (ionChange)="onIonChange($event)" [value]="this.firebaseService.Aper" [step]="10" [pin]="true" [ticks]="true" [snaps]="true" [min]="0" [max]="100" [disabled]="rango"></ion-range>
  </ion-card>
  <ion-card class="cardStyle">
    <div class="ion-padding">
      <!--# es lo mismo que id-->
      <ion-card style="background-color: #fff8e6">
        <ion-card-header>
          Esta semana
        </ion-card-header>
        <ion-card-content>
          <canvas #Canvaxd style="position: relative; height: 25vh; width: 40vw;"></canvas>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-card>
</ion-content>
