<ion-header
  [translucent]="true"
  class="todo"
  style="background-color: #fff8e6"
  no-border
>
  <ion-toolbar>
    <ion-label class="top">
      <a [routerLink]="['/home']" class="botonT">
        <ion-icon name="home" class="iconos"></ion-icon>
      </a>
      <p class="titulo">K-Plant</p>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="todo" scrollY="false">
  <ion-card class="cardStyle">
    <h3 class="ion-text-center">Techo</h3>
    <ion-item lines="none">
      <ion-label>Modo Manual</ion-label>
      <ion-toggle slot="end" [checked]="true" class="switch" (ionChange)="cambioM()" [(ngModel)]="estado"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="width: 100">Ajuste automatico en: </ion-label>
      <p style="margin-right: 0.5rem">{{this.firebaseService.TempTch}}º</p>
      <ion-button id="open-modal" expand="block" style="--background: #85bb6e" [disabled]="editar"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()">Confirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
              <ion-item>
                <ion-label position="stacked">Temperatura de ajuste</ion-label>
                <ion-input type="number" [(ngModel)]="temp"></ion-input>
              </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-card>
  <ion-card class="cardStyle">
    <h3 class="ion-text-center">Posición</h3>
    <ion-range (ionChange)="onIonChange($event)" [step]="10" [pin]="true" [ticks]="true" [snaps]="true" [min]="0" [max]="100" [disabled]="rango"></ion-range>
  </ion-card>
</ion-content>
