<ion-header
  [translucent]="true"
  class="todo"
  style="background-color: #fff8e6"
  no-border
>
  <ion-toolbar>
    <ion-label class="ion-text-center"><p class="titulo">K-Plant</p></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="todo" scrollY="false">
  <ion-card class="cardStyle flex">
    <ion-item lines="none">
      <ion-label class="ciudad">
        <span>
          <ion-icon name="location" id="locationIcon"></ion-icon>
          {{cityName}}
        </span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span id="temp">
        <p>{{this.firebaseService.TempTR}}º</p>
      </span>
    </ion-item>
    <ion-item lines="none">
      <img
        [src]="weatherIcon"
        alt="clima"
        class="clima_icon"
        width="50px"
        height="50px"
      />
      <p id="status">{{weatherStatus}}</p>
    </ion-item>
  </ion-card>
  <ion-card class="cardStyle">
    <ion-item lines="none">
      <span>Temperatura Máxima: </span>
      <span slot="end">{{(weatherTemp.temp_max - 273.15).toFixed(0)}}º</span>
    </ion-item>
    <ion-item lines="none">
      <span>Temperatura Mínima: </span>
      <span slot="end">{{(weatherTemp.temp_min - 273.15).toFixed(0)}}º</span>
    </ion-item> -->
    <ion-item lines="none">
      <ion-icon name="water-outline" class="iconos"></ion-icon>
      <span>Humedad: </span>
      <span slot="end">{{this.firebaseService.Humedad}}%</span>
    </ion-item>
    <ion-item lines="none">
      <a [routerLink]="['/techo']" class="boton"
        ><ion-icon name="options-outline" class="iconos"></ion-icon
      ></a>
      <span>Apertura del techo: </span>
      <span slot="end">{{this.firebaseService.Aper}}%</span>
    </ion-item>
  </ion-card>
</ion-content>
